# OS
.DS_Store
Thumbs.db

# Node / pnpm
node_modules
.pnpm-store/
npm-debug.log*
pnpm-debug.log*

# SvelteKit
/build
/.svelte-kit
/package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Env
.env
.env.*
!.env.example

# Rust / Cargo
/target
/src-tauri/target

# Tauri
/src-tauri/gen/schemas

# Editors
.idea/
*.swp
*.swo

# Logs
*.log
